<form [formGroup]="form">

    <mat-form-field>
        <mat-label>test</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="form.get('name')?.hasError('upper')">
            فقط حروف بزرگ
        </mat-error>
    </mat-form-field>
</form>