<!-- too inja faghat valid boodane form hamoon kafi nis mikhaim kari konim ke stare date ghable end date bashe
 -->
<div class="container">
    <form action="" [formGroup]="multiForm">
        <div class="row">
            <div class="col-lg-12 col-sm-6">
                <mat-form-field>
                    <mat-label>start date</mat-label>
                    <input type="text" placeholder="start date" formControlName="startAt" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>end date</mat-label>
                    <input type="text" placeholder="end date" formControlName="endAt" matInput>
                    <!-- mat error faghat male mat-form-fielde (boodn too form kafi nis baiad too mat-form-field ham bashe) -->
                </mat-form-field>
            </div>
        </div>
        <!-- bara errore fielde -->
        <div *ngIf="multiForm.hasError('dateRange')" class="errorForm">
            error
        </div>
    </form>
</div>