.mat-form-field.mat-white {
    .mat-input-element {
        color: #fff;
    }
    .mat-form-field-label {
        color: rgba(255, 255, 255, 0.54);
    }
    .mat-form-field-underline {
        background-color: rgba(255, 255, 255, 0.42);
    }
    .mat-hint {
        color: rgba(255, 255, 255, 0.54);
    }
    .mat-select-value,
    .mat-select-arrow {
        color: #fff;
    }
    .mat-icon {
        color: #fff;
    }
}