<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon">
                    <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <a routerLink="/register">ثبت نام</a>
    <a routerLink="/addContact">ورود</a>
</mat-toolbar>
<div class="container">
    <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row mt-5">
            <div class="col-6">

                <!-- username -->
                <div class="col-6  mt-3">
                    <mat-form-field>
                        <mat-label>نام کاربری</mat-label>
                        <input type="text" matInput formControlName="username">
                        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
                            نام کاربری الزامی است
                        </mat-error>
                    </mat-form-field>

                </div>

            </div>
            <div class="col-6">


                <!-- password input -->
                <mat-form-field>
                    <mat-label>رمز عبور</mat-label>
                    <input type="text" matInput formControlName="password">
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                        رمز عبور الزامی است
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
                        رمز عبور باید بیشتر از 6 کاراکتر باشد
                    </mat-error>
                </mat-form-field>

            </div>

            <button class="mt-5" mat-raised-button color="primary">ورود</button>

        </div>
    </form>


</div>