<div class="container">
    <form action="" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2 class="mt-5">فرم ثبت نام</h2>

        <div class="row">

            <!-- firstName -->
            <div class="col-6 mt-3">
                <mat-form-field>
                    <mat-label>نام</mat-label>
                    <input type="text" matInput formControlName="firstName">
                    <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">
                        نام الزامی است
                    </mat-error>
                </mat-form-field>

            </div>

            <!-- lastName -->
            <div class="col-6  mt-3">
                <mat-form-field>
                    <mat-label> نام خانوادگی</mat-label>
                    <input type="text" matInput formControlName="lastName">
                    <mat-error *ngIf="registerForm.get('lastName')?.hasError('required')">
                        نام خانوادگی الزامی است
                    </mat-error>
                </mat-form-field>

            </div>

            <!-- username -->
            <div class="col-6  mt-3">
                <mat-form-field>
                    <mat-label>نام کاربری</mat-label>
                    <input type="text" matInput formControlName="username">
                    <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
                        نام کاربری الزامی است
                    </mat-error>
                </mat-form-field>

            </div>
            <!-- email input -->
            <mat-form-field>
                <mat-label>ایمیل</mat-label>
                <input type="text" matInput formControlName="email">
                <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
                    ایمیل الزامی است
                </mat-error>
                <mat-error *ngIf="registerForm.get('email')?.hasError('emailIsValid')">
                    ایمیل نامعتبر است
                </mat-error>


            </mat-form-field>

            <!-- password -->
            <div class="col-6  mt-3">
                <mat-form-field>
                    <mat-label>رمز عبور</mat-label>
                    <input type="text" matInput formControlName="password">
                    <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
                        رمز عبور الزامی است
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
                        رمز عبور باید بیشتر از 6 کاراکتر باشد
                    </mat-error>
                </mat-form-field>

            </div>


            <!-- confirm password -->
            <div class="col-6  mt-3">
                <mat-form-field>
                    <mat-label>تکرار رمز عبور</mat-label>
                    <input type="text" matInput formControlName="confirmPassword">
                    <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">
                        تکرار رمز عبور الزامی است
                    </mat-error>

                </mat-form-field>
                <div>
                    <span *ngIf="registerForm?.hasError('notSame')">
                        مطابقت ندارد
                    </span>
                </div>

            </div>
        </div>
        <button class="mt-3" mat-raised-button color="primary">ثبت نام</button>
        <a class="mx-3 mt-3" routerLink="/login">بازگشت به صفحه ی قبل</a>
    </form>
</div>