<mat-toolbar color="primary">
    <div class="example-button-row">
        <button mat-raised-button class="mx-1" (click)="addRouter()"> اضافه کردن مخاطب جدید</button>
    </div>
    <div class="example-button-row">
        <button mat-raised-button class="time-font" (click)="listRouter()">لیست مخاطبین</button>
    </div>
</mat-toolbar>