<div class="container">
    <form action="" [formGroup]="newform">
        <div class="row my-5">
            <div class="col-6">
                <!-- har inputi ro too mat-form-field jodagoone bezar -->
                <mat-form-field>
                    <mat-label>email</mat-label>
                    <input type="email" formControlName="email" matInput>
                    <mat-error *ngIf="newform.get('email')?.hasError('emailValidation')">
                        invalid email
                    </mat-error>
                    <mat-error *ngIf="newform.get('email')?.hasError('required')">
                        email is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field>
                    <mat-label>password</mat-label>
                    <input matInput type="password" formControlName="password" name="password" appTemplateDriven>
                    <!-- If the password is not strong enough, the ngIf condition will turn to true and the error message will then be shown to the user. -->
                    <mat-error *ngIf="newform.get('password')?.hasError('passwordStrength')">
                        <!-- <div class="field-message" *ngIf="password.errors?.passwordStrength"> in ke commente khate balaiish dorstesh karde
                            chon to mat-form-fielde baiad bejaie div mat-error bezarim va errors hamoon hasErrore ke optionalam hast
                            -->
                        your password must have lower case upper case and numeric characters
                    </mat-error>

                </mat-form-field>
            </div>

            <!-- yadet bashe button ro too mat-form-field nazar -->
            <button mat-raised-button [disabled]=!newform.valid>login</button>





        </div>
    </form>
</div>