<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
            <div class="table-responsive">

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-bordered table-striped">


                    <ng-container matColumnDef="avatar">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <img [src]="element.avatar" width="50px" style="padding-left: 25px;">
                        </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>نام </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- lastName Column -->
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef> نام خانوادگی </th>
                        <td mat-cell *matCellDef="let element"> {{element.family}} </td>
                    </ng-container>

                    <!-- email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> ایمیل </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <!-- phoneNumber Column -->
                    <ng-container matColumnDef="phoneNubmer">
                        <th mat-header-cell *matHeaderCellDef> تلفن همراه </th>
                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                    </ng-container>


                    <!-- province Column -->
                    <ng-container matColumnDef="province">
                        <th mat-header-cell *matHeaderCellDef>استان </th>
                        <td mat-cell *matCellDef="let element"> {{element.province}} </td>
                    </ng-container>

                    <!-- city Column -->
                    <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef> شهر </th>
                        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                    </ng-container>

                    <!-- address Column -->
                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef> ادرس </th>
                        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>

                    <!-- avatar Column -->
                    <!-- <ng-container matColumnDef="avatar">
                    <th mat-header-cell *matHeaderCellDef>  اواتار  </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                  </ng-container> -->

                    <!-- bio Column -->
                    <ng-container matColumnDef="bio">
                        <th mat-header-cell *matHeaderCellDef> بیو </th>
                        <td mat-cell *matCellDef="let element"> {{element.bio}} </td>
                    </ng-container>

                    <!-- gender Column -->
                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef> جنسیت </th>
                        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                    </ng-container>



                    <!-- upload column -->
                    <ng-container matColumnDef="upload">
                        <th mat-header-cell *matHeaderCellDef> اپلود </th>
                        <td mat-cell *matCellDef="let element"> {{element.upload}} </td>


                    </ng-container>


                    <!-- edit Column -->
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> ویرایش </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="example-button-row">
                                <button mat-raised-button color="primary" [routerLink]="['/edit-contact',element.id]">ویرایش</button>
                            </div>
                        </td>
                    </ng-container>



                    <!-- delete Column -->
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> حذف </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" (click)="deleteRow(element.id)">
                            <mat-icon color="primary">delete</mat-icon>
                          </button>
                        </td>
                    </ng-container>

                    <!-- star Column -->
                    <ng-container matColumnDef="star">
                        <th mat-header-cell *matHeaderCellDef> برگزیده</th>
                        <td mat-cell *matCellDef="let element">

                            <ng-template #elseStar>
                                <button mat-icon-button (click)="changeColor(element)">
                                <mat-icon color="primary">star</mat-icon>
                            </button>
                            </ng-template>
                            <button mat-icon-button *ngIf="!element.star;else elseStar" (click)="changeColor(element)">
                            <mat-icon color="primary">star_border</mat-icon>
                        </button>

                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="13" align="center">داده ی مورد نظر یافت نشد "{{input.value}}"</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>