<div class="section1">
    <form [formGroup]="form">


        <div class="gradient">
            <h5 class="text-light text-center" style="margin:0 auto">ورود</h5>

            <!-- username -->
            <mat-form-field color="white">

                <mat-label>نام کاربری</mat-label>
                <mat-icon matPrefix>supervised_user_circle</mat-icon>
                <input type="text" matInput formControlName="username">
                <mat-hint>نام کاربری</mat-hint>
                <mat-error></mat-error>
            </mat-form-field>



            <!-- password -->
            <mat-form-field color="white">
                <mat-label> رمز عبور</mat-label>
                <input type="text" matInput formControlName="password">
                <mat-hint> رمزعبور</mat-hint>
                <mat-error></mat-error>
            </mat-form-field>


        </div>

    </form>
</div>