.section1 {
    background-image: url('../../../assets/images/pexels-photo-1.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient {
    // background: linear-gradient(0deg, rgba(172, 4, 232, 1) 22%, rgba(88, 202, 203, 1) 90%);
    background: #690199;
    background: -webkit-linear-gradient(top, #690199, #DDBCF4);
    background: -moz-linear-gradient(top, #690199, #DDBCF4);
    background: linear-gradient(to bottom, #690199, #DDBCF4);
    min-height: 80vh;
    border-radius: 5px;
    width: 340px;
    max-width: 100%;
    padding: 20px;
}