/* You can add global styles to this file, and also import other style files */


/* پیشنهاد می شود از روش قبل استفاده کنید */

@font-face {
    font-family: IRANSans;
    font-style: normal;
    src: url('assets/fonts/iransans/eot/iransansdn.eot');
    src: url('assets/fonts/iransans/eot/iransansdn.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('assets/fonts/iransans/woff2/iransansdn.woff2') format('woff2'), /* Chrome36+, Opera24+*/
    url('assets/fonts/iransans/woff/iransansdn.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('assets/fonts/iransans/ttf/iransansdn.ttf') format('truetype');
}


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
// raveshe avale estefade az font dar material
@import '~@angular/material/theming';
$custom-typography: mat-typography-config( $font-family: 'IRANSans,Arial',
$headline: mat-typography-level(32px,
48px,
700),
$body-1: mat-typography-level(14px,
24px,
500));
@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);
// raveshe avale estefade az font dar material
@import 'assets/scss/custom-material.scss';
body,
html {
    font-family: IRANSans;
    text-align: right;
}

.mat-form-field {
    width: 100%;
}

.mat-simple-snackbar {
    justify-content: center !important;
}