<app-header></app-header>
<div class="container">
    <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row my-5">

            <!-- name -->
            <div class="col-md-4 col-sm-6">
                <mat-form-field class="example-full-width">
                    <mat-label>نام</mat-label>
                    <input type="text" matInput formControlName="name">
                    <mat-hint>نام خود را وارد کنید</mat-hint>
                    <mat-error *ngIf="form.get('name')?.hasError('required')">
                        نام الزامی است
                    </mat-error>
                    <mat-error *ngIf="form.get('name')?.hasError('minlength')">
                        حداقل سه کاراکتر وارد کنید
                    </mat-error>

                </mat-form-field>
            </div>




            <!-- lastName -->
            <div class="col-md-4 col-sm-6">
                <mat-form-field class="example-full-width">
                    <mat-label> نام خانوادگی</mat-label>
                    <input type="text" matInput formControlName="family">
                    <mat-hint>نام خانوادگی خود را وارد کنید</mat-hint>
                    <mat-error *ngIf="form.get('family')?.hasError('required')">
                        نام خانوادکی الزامی است
                    </mat-error>
                    <mat-error *ngIf="form.get('family')?.hasError('minlength')">
                        حداقل سه کاراکتر وارد کنید
                    </mat-error>

                </mat-form-field>
            </div>




            <!-- email -->
            <div class="col-md-4 col-sm-6">
                <mat-form-field class="example-full-width">
                    <mat-label> ایمیل</mat-label>
                    <input type="text" matInput formControlName="email">
                    <mat-hint> ایمیل خود را وارد کنید</mat-hint>

                    <mat-error *ngIf="form.get('email')?.hasError('required')">

                        ایمیل الزامی است
                    </mat-error>
                    <mat-error *ngIf="form.get('email')?.hasError('email')">

                        ایمیل نامعتبر است
                    </mat-error>
                </mat-form-field>
            </div>



            <!-- phoneNumber -->
            <div class="col-md-4 col-sm-6">
                <mat-form-field class="example-full-width">
                    <mat-label> شماره همراه</mat-label>
                    <!-- <span matSuffix>+98 &nbsp;</span> -->

                    <input type="text" matInput formControlName="phone">
                    <mat-hint>+989...</mat-hint>
                    <mat-error *ngIf="form.get('phone')?.hasError('required')">
                        شماره همراه الزامی است
                    </mat-error>
                    <mat-error *ngIf="form.get('phone')?.hasError('pattern')">
                        فرمت شماره همراه صحبح نیست
                    </mat-error>

                </mat-form-field>

            </div>



            <!-- province -->
            <div class="col-md-4 col-sm-6">

                <mat-form-field class="example-full-width">
                    <mat-label>استان</mat-label>
                    <input type="text" matInput formControlName="province" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let optionProvince of filterProvince | async" [value]="optionProvince">
                            {{optionProvince}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </div>



            <!-- city -->
            <div class="col-md-4 col-sm-6">

                <!-- <mat-form-field class="example-full-width">
                    <mat-label>شهر</mat-label>
                    <input type="text" matInput formControlName="province" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let optioncity of filterCity | async" [value]="optioncity">
                            {{optioncity}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field> -->

            </div>




            <!-- address -->
            <div class="col-md-4 col-sm-6">
                <mat-form-field class="example-full-width">
                    <mat-label>ادرس</mat-label>
                    <input type="text" matInput formControlName="address">
                    <mat-hint>ادرس خود را وارد کنید</mat-hint>
                    <mat-error *ngIf="form.get('address')?.hasError('required')">
                        ادرس الزامی است
                    </mat-error>
                </mat-form-field>
            </div>





            <!-- bio -->
            <div class="col-md-4 col-sm-6">
                <mat-form-field appearance="fill">
                    <mat-label>بیو</mat-label>
                    <textarea matInput formControlName="bio"></textarea>
                </mat-form-field>
            </div>




            <!-- gender -->
            <div class="col-md-4 col-sm-6">
                <mat-radio-group aria-label="Select an option" formControlName="gender">
                    <mat-radio-button class="mx-2" color="primary" value="مرد" ngDefaultControl>
                        مرد
                    </mat-radio-button>
                    <mat-radio-button color="primary" value="زن" ngDefaultControl>
                        زن
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- upload -->
            <div class="col-md-4 col-sm-6">
                <label for="f1" class="btn">
                   <mat-icon class="mat-icon">cloud_upload</mat-icon>
               </label>
                <input type="file" formControlName="upload" class="d-none" id="f1" (change)="onFileSelected($event)">


            </div>

            <img [src]="base64Output" width="50px">


        </div>

        <section>
            <div class="example-button-row">
                <button mat-raised-button mat-stroked-button color="primary">ذخیره </button>
            </div>
        </section>
    </form>

</div>