.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

// .example-button-row {
//     display: flex;
//     justify-content: center;
// }
.btn {
    border: 1px solid black;
    color: white;
    line-height: 0;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 50%;
    padding: 15px;
}